<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>丑丑画</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/draw.css" />
<script type="text/javascript" src="__PUBLIC__/inc/jquery.1.8.2.min.js"></script>


	<!-- jQuery -->

<script type="text/javascript" src="__PUBLIC__/inc/jquery.ui.core.min.js"></script>	
<script type="text/javascript" src="__PUBLIC__/inc/jquery.ui.widget.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/inc/jquery.ui.mouse.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/inc/jquery.ui.draggable.min.js"></script>	


<!-- wColorPicker -->
	<link rel="Stylesheet" type="text/css" href="__PUBLIC__/inc/wColorPicker.css" />
	<script type="text/javascript" src="__PUBLIC__/inc/wColorPicker.js"></script>
	
<!-- wPaint -->
	<link rel="Stylesheet" type="text/css" href="__PUBLIC__/inc/wPaint.css" />
	<script type="text/javascript" src="__PUBLIC__/inc/wPaint.js"></script>
  

</head>